<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Multimodal MRI accurately identifies amyloid status in unbalanced cohorts in Alzheimer's disease continuum.
			</span><br />
			<span class="authors">
				Giorgio Dolci, Charles A Ellis, Federica Cruciani, Lorenza Brusini, Anees Abrol, Ilaria Boscolo Galazzo, Gloria Menegaz, Vince D Calhoun, and Alzheimer's Disease Neuroimaging Initiative.
			</span><br />
			<span class="venuetype"></span><span class="venue">Network Neuroscience 9(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				An interpretable generative multimodal neuroimaging-genomics framework for decoding Alzheimer's disease.
			</span><br />
			<span class="authors">
				Giorgio Dolci, Federica Cruciani, Md Abdur Rahaman, Anees Abrol, Jiayu Chen, Zening Fu, Ilaria Boscolo Galazzo, Gloria Menegaz, Vince D Calhoun, Alzheimer's Disease Neuroimaging Initiative, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">ArXiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Guidelines For The Choice Of The Baseline in XAI Attribution Methods.
			</span><br />
			<span class="authors">
				Cristian Morasso, Giorgio Dolci, Ilaria Boscolo Galazzo, Sergey M Plis, and Gloria Menegaz.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2503.19813</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Algebraic Connectivity Enhances Hyperedge Specificity in the Alzheimer's Disease Continuum.
			</span><br />
			<span class="authors">
				Giorgio Dolci, Silvia Saglia, Lorenza Brusini, Vince D Calhoun, Ilaria Boscolo Galazzo, and Gloria Menegaz.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2508.01252</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Diffusion MRI Allows Capturing the Amyloid-$\beta$ and $\tau$ Proteins Status in Alzheimer's Disease Continuum.
			</span><br />
			<span class="authors">
				Giorgio Dolci, Federica Cruciani, Lorenza Brusini, Lorenzo Pini, Ilaria Boscolo Galazzo, Vince D Calhoun, and Gloria Menegaz.
			</span><br />
			<span class="venuetype"></span><span class="venue">2024 IEEE International Symposium on Biomedical Imaging (ISBI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Morphometric Similarity Patterning of Amyloid-$\beta$ and Tau Proteins Correlates with Transcriptomics in the Alzheimer's Disease Continuum.
			</span><br />
			<span class="authors">
				Lorenza Brusini, Giorgio Dolci, Lorenzo Pini, Federica Cruciani, Fabrizio Pizzagalli, Paolo Provero, Gloria Menegaz, and Ilaria Boscolo Galazzo.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Journal of Molecular Sciences 25(23)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Integrated Gradients Demystified: An MRI Case Study on A$\beta$-T Protein Localization.
			</span><br />
			<span class="authors">
				Giorgio Dolci, Cristian Morasso, Federica Cruciani, Lorenza Brusini, Lorenzo Pini, Vince D Calhoun, Ilaria Boscolo Galazzo, and Gloria Menegaz.
			</span><br />
			<span class="venuetype"></span><span class="venue">2024 IEEE International Conference on Metrology for eXtended Reality, Artificial Intelligence and Neural Engineering (MetroXRAINE)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Polygenic Risk Scores are Associated to A$\beta$-$\tau$ Protein Accumulation in Alzheimer's Disease.
			</span><br />
			<span class="authors">
				Irene Treccani, Giorgio Dolci, Lorenza Brusini, Federica Cruciani, Ilaria Boscolo Galazzo, and Gloria Menegaz.
			</span><br />
			<span class="venuetype"></span><span class="venue">2024 IEEE International Conference on Metrology for eXtended Reality, Artificial Intelligence and Neural Engineering (MetroXRAINE)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Deep generative transfer learning predicts conversion to Alzheimer's disease from neuroimaging genomics data.
			</span><br />
			<span class="authors">
				Giorgio Dolci, Md Abdur Rahaman, I Boscolo Galazzo, Federica Cruciani, Anees Abrol, Jiayu Chen, Zening Fu, Kuaikuai Duan, Gloria Menegaz, and Vince D Calhoun.
			</span><br />
			<span class="venuetype"></span><span class="venue">2023 IEEE International Conference on Acoustics, Speech, and Signal Processing Workshops (ICASSPW)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Objective assessment of the bias introduced by baseline signals in xai attribution methods.
			</span><br />
			<span class="authors">
				Giorgio Dolci, Federica Cruciani, Ilaria Boscolo Galazzo, Vince D Calhoun, and Gloria Menegaz.
			</span><br />
			<span class="venuetype"></span><span class="venue">2023 IEEE International Conference on Metrology for eXtended Reality, Artificial Intelligence and Neural Engineering (MetroXRAINE)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A deep generative multimodal imaging genomics framework for Alzheimer's disease prediction.
			</span><br />
			<span class="authors">
				Giorgio Dolci, Md Abdur Rahaman, Jiayu Chen, Kuaikuai Duan, Zening Fu, Anees Abrol, Gloria Menegaz, and Vince D Calhoun.
			</span><br />
			<span class="venuetype"></span><span class="venue">2022 IEEE 22nd International Conference on Bioinformatics and Bioengineering (BIBE)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
